<style>
    .dli-minus {
        display: inline-block;
        width: 5vh;
        height: 0.5vh;
        background: currentColor;
        border-radius: 0.1em;
        position: relative;
        margin:auto;
        background-color: var(--tertiary-color);
    }

	.minus{
        background-color:var(--primary-color);
	}

    .circle-button {
        margin:1vh;
        display:flex;
        line-height: 9vh;
        padding: 0;
        height: 9vh;
        width: 9vh;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        transition: transform 0.3s ease;
		box-shadow: rgba(0, 0, 0, 0.56) 0px 4px 6px;
        user-select:none;
    }

        .circle-button:hover {
            filter:brightness(1.1);
        }

	  .circle-button:active {
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
            filter:brightness(0.9);
	  }

    
</style>

<div class="minus circle-button @Class" @onclick="OnClick">
	<span class="dli-minus"></span>
</div>
@code {

    [Parameter]
    public string Class { get; set; }
    [Parameter]
	public EventCallback<MouseEventArgs> OnClick{ get; set;}
}
