@page "/"
@using TodoList.Data.PlanData;
@using TodoList.Pages.Parts;
<style>
	html body{
		background-color: #579BB1;
		margin:0;
		padding:0;
		width: 100vw;
		height: 100vh;
		overflow:hidden;
		position:relative;
	}

	.center-div {
		  position: absolute;
		  top:10vh;
		  left: 50%;
		  -webkit-transform : translateX(-50%);
		  transform : translateX(-50%);
	}
	.card{
		height: 60vh;
	}

	.plusminus{
		display: flex;
		margin: auto auto 10% auto;
	}

</style>


<ToDoCard Class="center-div card"/>
<div class="plusminus">
<PlusButton/>
<RArrow/>
<LArrow/>
</div>
@code{
	IEnumerable<Todo> TodoList;
}
